html {
    width: 1200px;
    height: 1450px;
    background-color: silver;
    vertical-align: middle;
}

body {
    width: 1100px;
    height: 1370px;
    background-color: white;
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 50px;
}


/* DIVIDERS */

.divider {
    width: 20px;
    height: 100px;
    float: left;
    background-color: white;
}

.divider_long {
    width: 1100px;
    height: 50px;
    float: left;
    background-color: white;
}

.social_media_divider {
    width: 75px;
    height: 100px;
    float: left;
    background-color: black;
}

.social_media_divider_2 {
    width: 200px;
    height: 100px;
    float: left;
    background-color: black;
}


/* SOCIAL MEDIA */

footer {
    width: 1000px;
    height: 220px;
    margin: auto;
    /* SOCIAL 
    margin-left: 50px;
     
    MEDIA */
}

#footer {
    width: 1000px;
    height: 220px;
    margin: auto;
    margin-top: 540px;
    background-color: black;
}

.social_media_button {
    cursor: pointer;
    background-color: black;
    height: 100px;
    width: 150px;
    border: none;
    float: left;
}

.social_media_button:hover {
    cursor: pointer;
    height: 100px;
    width: 150px;
    background-color: #404040;
    border: none;
}


/* MENU */

header {
    width: 1000px;
    height: 100px;
    margin: auto;
}

.menu_button {
    cursor: pointer;
    background-color: black;
    height: 100px;
    width: 150px;
    border: none;
    text-align: center;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    float: left;
}

.menu_button:hover {
    cursor: pointer;
    height: 100px;
    width: 150px;
    background-color: #404040;
    border: none;
    text-align: center;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    background-color: black;
    height: 100px;
    width: 320px;
    float: left;
}


/* NEWS */

main {
    width: 1000px;
    height: 460px;
    margin: auto;
}

#b_more_news {
    cursor: pointer;
    background-color: black;
    width: 1000px;
    height: 100px;
    border: none;
}

#b_more_news:hover {
    cursor: pointer;
    background-color: #404040;
    width: 1000px;
    height: 100px;
}

#news {
    background-color: black;
    width: 1000px;
    height: 360px;
    float: left;
}

h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

p {
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#date {
    font-size: 15px;
    margin-left: 20px;
}

#text {
    font-size: 18px;
    margin-left: 40px;
}


/* SLIDER */

#prev,
#next {
    cursor: pointer;
    width: 100px;
    height: 340px;
    background-color: black;
    border: none;
    float: left;
}

#prev:hover,
#next:hover {
    background-color: #404040;
}

#prev {
    margin-left: 50px;
}

#next {
    margin-right: 50px;
    transform: scaleX(-1);
}

.slides {
    display: none;
    height: 340px;
    max-width: 800px;
    margin: auto;
}

#slider {
    background-color: black;
    width: 800px;
    height: 340px;
    float: left;
}